In [1]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv("../data/cubic_zirconia.csv")

In [5]:
data

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779
...,...,...,...,...,...,...,...,...,...,...,...
26962,26963,1.11,Premium,G,SI1,62.3,58.0,6.61,6.52,4.09,5408
26963,26964,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,1114
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17,1656
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60,682
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27,5166

In [6]:
data.drop(labels=["Unnamed: 0"],axis=1,inplace=True)

In [7]:
data

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]

In [8]:

X=data.drop(labels=["price"],axis=1)

In [9]:
y=data[["price"]]

In [10]:
X

       carat        cut color clarity  depth  table     x     y     z
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27

[26967 rows x 9 columns]

In [11]:
y

       price
0        499
1        984
2       6289
3       1082
4        779
...      ...
26962   5408
26963   1114
26964   1656
26965    682
26966   5166

[26967 rows x 1 columns]

In [12]:
categorical_cols=X.select_dtypes(include='object').columns

In [13]:
numerical_cols=X.select_dtypes(exclude='object').columns

In [14]:
numerical_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [15]:
X.select_dtypes(include='object')

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26967 rows x 3 columns]

In [16]:
# Define the custom ranking for each ordinal variable
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [17]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [18]:
num_pipeline=Pipeline(
    
    
    steps=[
        
        ('imputer',SimpleImputer()),
        ('scaler', StandardScaler())
    ]
    
    
)

In [19]:
cat_pipeline=Pipeline(
    
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
    
)

In [20]:
preprocessor=ColumnTransformer(
    [
        
        ('num_pipeline',num_pipeline,numerical_cols),
        ('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

In [21]:

## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [22]:
preprocessor.fit_transform(X_train)

array([[ 0.56167397,  0.31982286, -0.6510053 , ...,  4.        ,
         3.        ,  4.        ],
       [-0.60408689, -0.39681436,  1.58987791, ...,  2.        ,
         1.        ,  2.        ],
       [-0.52081826, -0.25348692, -1.09918195, ...,  4.        ,
         4.        ,  1.        ],
       ...,
       [ 1.87315495,  0.7498052 , -0.20282866, ...,  2.        ,
         4.        ,  4.        ],
       [-1.04124722,  1.03646009, -0.20282866, ...,  1.        ,
         0.        ,  1.        ],
       [-0.54163542, -0.68346925, -0.20282866, ...,  4.        ,
         0.        ,  2.        ]])

In [23]:
preprocessor.transform(X_test)

array([[-8.33075636e-01,  1.76495416e-01,  1.58987791e+00, ...,
         3.00000000e+00,  1.00000000e+00,  2.00000000e+00],
       [ 2.91050915e-01, -9.70124145e-01,  6.93524626e-01, ...,
         3.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       [ 6.24125449e-01, -3.96814364e-01, -2.02828660e-01, ...,
         3.00000000e+00,  6.00000000e+00,  3.00000000e+00],
       ...,
       [-1.04124722e+00,  8.21468919e-01, -2.02828660e-01, ...,
         2.00000000e+00,  2.00000000e+00,  3.00000000e+00],
       [ 4.36771024e-01, -1.81823197e-01,  6.93524626e-01, ...,
         3.00000000e+00,  3.00000000e+00,  2.00000000e+00],
       [ 4.15953865e-01, -1.01840275e-14,  1.14170127e+00, ...,
         3.00000000e+00,  1.00000000e+00,  1.00000000e+00]])

In [24]:
preprocessor.get_feature_names_out()

array(['num_pipeline__carat', 'num_pipeline__depth',
       'num_pipeline__table', 'num_pipeline__x', 'num_pipeline__y',
       'num_pipeline__z', 'cat_pipeline__cut', 'cat_pipeline__color',
       'cat_pipeline__clarity'], dtype=object)

In [26]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [27]:
X_test

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-0.833076,1.764954e-01,1.589878,-0.904419,-0.898829,-0.861180,3.0,1.0,2.0
1,0.291051,-9.701241e-01,0.693525,0.536838,0.532848,0.409242,3.0,1.0,1.0
2,0.624125,-3.968144e-01,-0.202829,0.819784,0.734967,0.709771,3.0,6.0,3.0
3,0.832297,-1.328443e+00,2.934408,0.978942,0.886556,0.737092,1.0,1.0,2.0
4,-1.041247,-2.534869e-01,0.693525,-1.293470,-1.210430,-1.243672,2.0,3.0,7.0
...,...,...,...,...,...,...,...,...,...
8086,-0.166927,-1.471770e+00,0.693525,0.032840,0.069658,-0.109855,2.0,1.0,1.0
8087,-0.166927,-9.701241e-01,0.245348,0.032840,0.069658,-0.055213,2.0,3.0,5.0
8088,-1.041247,8.214689e-01,-0.202829,-1.293470,-1.218851,-1.161709,2.0,2.0,3.0
8089,0.436771,-1.818232e-01,0.693525,0.660627,0.583378,0.586827,3.0,3.0,2.0
8090,0.415954,-1.018403e-14,1.141701,0.607575,0.600221,0.545846,3.0,1.0,1.0

In [28]:
"""linear regression
ridge regression
lasso regression
elastic net"""

'linear regression\nridge regression\nlasso regression\nelastic net'

In [29]:
## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [30]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [31]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [32]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [33]:
list(models)

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [34]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()

In [35]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet'])

In [36]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet()])

In [37]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 1179.6361399641762
MAE: 813.7992475074374
R2 score 91.44186123527791
===================================


Lasso
Model Training Performance
RMSE: 1180.8285468233355
MAE: 815.5416840351334
R2 score 91.42455091279986
===================================


Ridge
Model Training Performance
RMSE: 1179.8152041843227
MAE: 814.0733362434034
R2 score 91.43926285311179
===================================


Elasticnet
Model Training Performance
RMSE: 1597.6630046716778
MAE: 1070.687149439734
R2 score 84.30166679563746
===================================

In [38]:
trained_model_list

[]

In [39]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [40]:
r2_list

[0.9144186123527791,
 0.9142455091279986,
 0.9143926285311178,
 0.8430166679563745]